.header__nav-link{
  font-size: 2rem;
}

.header__title{
  padding-top: 30px;
  padding-bottom: 20px;
  letter-spacing: 0.5rem;
}

@media (min-width: 768px) { 
  .header__title{
    padding-bottom: 0px;
  }
 }

.header__column-1{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header__column-2{
  display: flex;
  align-items: flex-end;
  justify-content:center;
}

.cv-button{
  color: white !important;
  background-color: #e27c7a;
  font-size: 2rem;
  position: absolute;
  right: 15px;
  top: 100px;
  z-index: 1;
}

.cv-button:hover{
  background-color: #ff9593;
}