.works-list__card {
  max-width: 500px;
  height: 100%;
}
.works-list__card-buttons-block{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.works-list__card-button {
  color: white !important;
  background-color: #332ec3;
  border-color: #332ec3;
  font-size: 1.8rem;
  width: 50%;
}

.works-list__card-github-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.works-list__card-title {
  font-size: 2rem;
}

.works-list__card-description {
  font-size: 1.5rem;
}
.works-list__column {
  margin-top: 85px;
}
@media (min-width: 540px) {
  .works-list__column {
    margin-top: 55px !important;
  }
}

@media (min-width: 768px) {
  .works-list__column {
    margin-top: 30px;
  }
}

@media (min-width: 1140px) {
  .works-list__column {
    margin-top: 20px;
  }
}